<a href="#/pet"><strong>Go Back</strong></a>
<br>
<br>

<div id="tooplate_wrapper" ng-controller="petAddController">
  <form ng-submit="addPet()" name="addPetForm">
  <div id="tooplate_main"><span class="main_border main_border_t"></span><span class="main_border main_border_b"></span>
    <div class="product">
      <div class="col col_2 product_preview">
        <ul class="nobullet">
          <li ng-repeat="petImage in photoCheckBox">
            <input id="{{petImage.name}}" type="checkbox" value="{{petImage.name}}" ng-required="selection.length==0"
                   ng-click="toggleSelection(petImage.name)" ng-checked="selection.indexOf(petImage.name) > -1"/>
            <img ng-src="img/{{petImage.value}}.jpg" alt="{{petImage.name}}" width="35" height="35"/>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="col col_2 product_detail">
        <h1>Pet Details</h1>
        <div class="clear h20"></div>
        <p class="price">
          <span><strong>Status: </strong>
          <input id="petName" type="text" ng-model="pet.petName" size="20" maxlength="20" minlength="3" required></input>
        </span></p>
        <p class="price"><span><strong>Status: </strong>
          <select id="statusDropDown" ng-options="status.value for status in statusDropDown"
                  ng-model="pet.selectedStatus" required>
            <option></option>
          </select>
        </span></p>
        <p class="price">
          <span><strong>Category: </strong>
          <select id="categoryDropDown" ng-options="cat.value for cat in categoryDropDown"
                  ng-model="pet.selectedCategory" required>
            <option></option>
          </select>
          </span></p>
        <p class="price"><span><strong>Tags: </strong>
          <textarea id="tags" name="tags" rows="2" cols="50" ng-model="pet.tags" ng-minlength="3" ng-maxlength="50"
                    required></textarea>
        </span>
        </p>
      </div>
      <div class="clear"></div>
      <div>
        <input type="submit" name="Submit" id="submitForm" title="Submit" class="sub_btn" value="Add Pet" />
        <input type="button" class="btn" value="Cancel" ng-click="cancelAdd()">
      </div>
    </div>
    <hr/>
    <div class="clear"></div>
  </div> <!-- END of main -->
  </form>
</div> <!-- END of wrapper -->

<div id="tooplate_bottom_wrapper">
  <div id="tooplate_bottom">
    <div class="clear"></div>
  </div> <!-- END of bottom -->
</div> <!-- END of bottom wrapper -->
