<div id="logo" class="banner">Infaspects Pet Store</div>

<br><br><br><br><div class="div-table">
    <div class="div-row">
        <div style="float: left; width: 500px">
            Search for Pets <input type="search" ng-model="petFilter" size="40">
        </div>
        <div style="float: left">
            <a href="#/add" >Add Pet</a>
        </div>
    </div>
</div><br>

<div class="div-table">
    <!-column headers -->
    <div class="div-row">
        <div class="div-cell" style="font-weight: bold">Name</div>
        <div class="div-cell" style="font-weight: bold">Photos</div>
        <div class="div-cell" style="font-weight: bold">Category</div>
        <div class="div-cell" style="font-weight: bold">Status</div>
        <div class="div-cell" style="font-weight: bold">Tags</div>
        <div class="div-cell" style="font-weight: bold">&nbsp;</div>
    </div>
    <div class="div-row" align="center" ng-hide="petStore.length">No pets in store</div>
    <div class="div-row" ng-repeat="pet in petStore | filter:petFilter">
        <div class="div-cell"><a href="#/pet/{{pet.id}}">{{pet.petName}}</a></div>
        <div class="div-cell"><div ng-repeat="petPhoto in pet.photoUrl | limitTo:3" style="float: left; display: inline-block">
            <img ng-src="img/{{petPhoto}}.jpg" width="60" height="60"/>
        </div>
        </div>
        <div class="div-cell">{{pet.category}}</div>
        <div class="div-cell">{{pet.status}}</div>
        <div class="div-cell"><div ng-repeat="petTag in pet.tags | limitTo:5" style="float: left; display: inline-block">{{petTag.tagName}}&nbsp;</div></div>
        <div class="div-cell">
            <input type="button" class="btn btn-danger" ng-click="deletePet(pet)" width="20" height="20" value="Delete" />
        </div>
    </div>
</div>