<div id="logo" class="banner"><strong>Infaspects Pet Store</strong></div>
<div id="header_bottom">
  <p><a href="#/add">Add Pet</a>
  </p>
  <div id="tooplate_search">
    <strong>Search for Pets</strong> <input type="search" ng-model="petFilter" size="40">
  </div>
</div><br><br><br><br>

<div id="tooplate_main"><span class="main_border main_border_t"></span><span class="main_border main_border_b"></span>
  <div class="product">
    <h1>Pets at our store</h1>
    <div class="product_box" ng-repeat="pet in petStore | filter:petFilter">
      <div class="img_box"><span></span>
        <a href="#/pet/{{pet.id}}"><img ng-src="img/{{pet.photoUrl[0]}}.jpg" width="120" height="120"/></a>
      </div>
      <h2><a href="#/pet/{{pet.id}}">Name: {{pet.petName}}</a></h2>
      <p class="price"><span><strong>Status: </strong>{{pet.status}}</span></p>
    </div>
  </div>

  <div class="clear"></div>
</div> <!-- END of main -->
